use flake

export VIRTUAL_ENV=$PWD/.venv
export PATH=$PWD/.venv/bin:$PATH
export HF_HOME=$PWD/.cache/huggingface
export TORCH_HOME=$PWD/.cache/torch
export MATLAB_PATH=/home/lev/.nix-profile/bin/matlab
layout python python3.11
